/* Cart.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white !important;
}

.ReactSwipeButton {
  float: left;
  width: 95% !important;
  height: 50px;
  position: fixed !important;
  bottom: 0 !important;
  left:8px;
  bottom: 10px !important;

}
.css-1m9128y {
  width: 100%;
  margin-top: 0px !important;
  text-align: center;
  color: white;
  display: none !important;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.sticky-navbar {
  width: 100%;
  height: 0;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  animation: slideDown 2s ease forwards; /* Increase animation duration */
}


/* Additional styles for the flatlist content */
.flatlist > div {
  padding-bottom: 20px;
  margin: 0px 5px;
}


.flatlist {
  overflow-x: scroll;
  display: flex;
  /* Adjusted marginTop to stick below the red box */
   /* Initial marginTop */
  position: sticky;
  top: 10;
  margin-top: 5px;
  margin-bottom: 15px;

  background-color: white;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  /* WebKit browsers (Chrome, Safari) */
  ::-webkit-scrollbar {
    display: none;
  }
  z-index: 999;

}
/* Navbar.css */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Navbar background color */
  padding: 10px 20px; /* Adjust padding as needed */
}

.navbar-heading {
  font-size: 24px; /* Adjust font size */
  color: black; /* Text color */
  font-weight: bold; /* Font weight */
  text-transform: uppercase; /* Uppercase text */
  cursor: pointer; /* Show pointer cursor on hover */
  animation: pulse 2s infinite; /* Animation */
  transition: all 0.3s ease; /* Smooth transition */
}

.navbar-heading:hover {
  color: #ff9800; /* Change text color on hover */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.2); /* Scale up */
  }
  100% {
    transform: scale(1); /* Back to initial scale */
  }
}

.cart-page {
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
  /* background-color: #f7f7f7;
   */
   background-color: rgb(255, 192, 203, 0.1);
  min-height: 100vh; /* Set minimum height to 100% of viewport height */
}
  .itemkp {
    text-align: right;
    box-sizing: border-box;
     
      padding-right: 20px; 
      font-weight: 700;
  }
  .containerc {
    display: flex;
    flex-direction: row; /* Setting the direction to row */
    justify-content: space-between; /* Aligning items with space between them */
    align-items: center; /* Aligning items vertically */
    width: 100%;
 /* Adjust this as needed */
    margin: 0 auto;
  }
  .itemk {
   
    padding-left: 0px;
    text-align: left;
   
    box-sizing: border-box; /* Include padding in width calculation */
  }
  @keyframes slideLeft {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
  /* .itemk {
    max-width: calc(80% - 20px); 
    width:60%
  } */

/* 
  .m-1b7284a3 {

    border-radius: 25px 25px 0px 0px !important;
    margin: 5px 0px !important;
    margin-bottom: 0px !important;
  } */
 .m-b8a05bbd {
    flex: var(--drawer-flex, 0 0 var(--drawer-size));
    height: var(--drawer-height, calc(100% - var(--drawer-offset)* 2));
    margin: var(--drawer-offset);
    max-width: 100vw;
    max-height: 100%;
    overflow-y: auto;
}
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
    background-color: white;
    padding: 15px;
    border-radius: 16px;
    box-shadow: 0 calc(0.0625rem * 1) calc(0.1875rem * 1) rgba(0, 0, 0, 0.05), 
            rgba(0, 0, 0, 0.05) 0 calc(0.625rem * 1) calc(0.9375rem * 1) calc(-0.3125rem * 1), 
            rgba(0, 0, 0, 0.04) 0 calc(0.4375rem * 1) calc(0.4375rem * 1) calc(-0.3125rem * 1);

}
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
  
  }
  .cart-item.removed {
    text-decoration: line-through;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    color: #666;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container takes up the full viewport height */
  }
  .empty-cart-message {
    margin-top: 20px;
    font-size: 24px;
    color: #555; /* Adjust the color as needed */
    margin-left: 10px;
  }
  .bottom-svg-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .quantity-actions {
    display: flex;
    align-items: center;
  }
  .counterbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: none;
    border-radius: 7px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  
    margin-right: 4px;
}
  
  .counterbox button {
    color: orangered;
    /* background-color: #45a049; /* Green button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
 
  
  .counterbox .quantity {
    font-size: 12px;
    font-weight: bold;
  }
  
  
  .menu-titleC {
    position: relative;
    z-index: 1;
    /* Add other styles for your menu title */
  }
  .moving-svg {
    position: absolute;
    /* fill:#ff9700; */
    fill:#54B4D3;

    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transform: rotate(180deg); /* Rotate the SVG */
  }
  
  .menu-titleC {
    font-family: serif; /* Use a cursive font */
    font-size: 23px; /* Increase the font size */
    font-weight: bold; /* Set font weight to bold */
    color: #ffffff;  /* Set the text color */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 1px; /* Add letter spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    /* Add border */
    /* Add padding */
    margin-left: 15px;
    border-radius: 10px;
    padding-top: 5px; /* Add border radius */
  }        
  .accordion-header.closed {
    background-color: #f0f0f0; /* Light grey background color */
    padding: 0.5px; /* Add padding */
    border-radius: 5px; /* Add border-radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    /* Add any other styles you want for the closed accordion header */
  }
  
  
  .quantity-btn {
    /* background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%); */
    color: white;
    background: none;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 35px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 0px;
    padding: 4px !important;
  }
  
  .quantity {
    font-size: 12px;
    margin: 0 0px;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .cooking-instructions-btn {
    /* background-color: #ffffcc; */
    border: none;
    color: #666; /* Adjust color as per the situation */
    cursor: pointer;
    
    margin: 0;
    border-top: 1px dashed #999;
  }
  
  .cooking-instructions-btn svg {
    margin-right: 8px;
  }
  /* Optional: Style hover and focus states */
  .cooking-instructions-btn:hover{
    color: black;
  }
  .cooking-instructions{
    max-width: 20px
    /* resize: vertical;
  overflow-wrap: break-word; */
  }
  /* fjbvjb */
  .customise-instructions{
    /* background-color: darkgoldenrod; */
   
    color: goldenrod;
    border: none;
    border-top: 1px dashed grey;
   
  
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    /* width:100%; */ 
    max-width:100%;
    align-items: center;

  }
  
  .place-order-btn {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .place-order-btn:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  .cancel-order-btn{
   background-color: #ffffff;
    color: red;
  border-color: red;
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2px;
    transition: background-color 0.3s ease;
  }
  
  .cancel{
    
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
  
  
  }
  
  .cancel:hover {
    background-color: #ff000094 !important;
    color: white;
  }
  .timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .timeline-content {
    font-size: 14px;
  }
  
  .completed .timeline-dot {
    background-color: #4caf50; /* Green color for completed items */
  }
  
  .order-box {
  background-color: #f2f2f2; /* Light gray background */
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  }
  
  .order-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Dark text color */
  }
  
  
  
  .cart-page {
  position: relative; /* Position relative to contain absolutely positioned SVG */
  }
  
  
  
  
  .circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333; /* Background color for the circle */
  color: #fff; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  }
  
  
  .order-id {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  
    padding: 4px;
    border-radius: 4px;
    border-bottom:1px solid #ccc;
  
  }
  
  .timer-container {
  display: flex; /* Use flexbox */
  align-items: center; 
  justify-content: flex-end;/* Align items vertically */
  }
  
  .cancel-order-btn {
  /* Your cancel order button styles */
  margin-left: 10px; /* Add margin for spacing */
  }
  
  .invoice-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px dashed #f9f9f9;
  }
  
  .header-item {
    flex: 1;
    font-weight: bold;
    font-size: 16px; /* Adjust font size */
  }
  
  .invoice-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .invoice-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
  }

  .order-more {
    display: flex;
    justify-content: space-between !important;
    padding: 10px;
    font-weight: bold;
  }
  
  
  .item-name,
  .item-quantity,
  .item-price {
    flex: 1;
    font-size: 12px; /* Adjust font size */
  }
  
  /* Additional Styles for Print */
  @media print {
    .invoice-list {
      font-size: 12px;
      width: 100%;
      border-collapse: collapse;
    }
  
    .invoice-header,
    .invoice-item,
    .invoice-total {
      page-break-inside: avoid;
    }
  
    .header-item {
      text-align: left;
    }
  
    .item-name {
      text-align: left;
    }
  
    .item-price {
      text-align: right;
    }
  
    .invoice-header,
    .invoice-item {
      background-color: #f8f9fa;
    }
  
    
  }
  .invoice-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  
    border-radius: 5px;
    padding: 10px;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    background-color: #f8f9fa; /* Light background for heading box */
  }
  
  .header-item {
    flex: 1;
    font-weight: bold;
  }
  
  .invoice-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .invoice-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
/* Light background for total price box */
    border-top: 1px dashed #ccc;
  }
  
  .total-label {
    flex: 1;
  }
  
  .total-value {
    font-weight: normal;
  }

  /* css for modal */

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .modal input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    
  }

  
  .modal button {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    color: white;
    border: none;
    border-radius: 5px;
    /* width: px; */
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  
  .modal button + button {
    margin-left: 10px;
  }
  
  @keyframes slideInFromBottom {
    from {
      top: 100%; /* Move the icon outside of the viewport */
    }
    to {
      top: 20px; /* Move the icon to the desired position */
    }
  }
  
  .chat-icon {
    position: fixed;
    top: 20px;
    right: 10px;
    width: 50px; /* Adjust width and height as needed */
    height: 50px;
    background-color: #1f2021; /* Change the background color to your preferred color */
    border-radius: 50%; /* Make it a circle */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; /* Add cursor pointer to indicate interactivity */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    z-index: 99999; /* Set a high z-index to ensure visibility */
    animation: slideInFromBottom  0.5s ease forwards; /* Apply slide-up animation */
  }
  
  .chat-icon i {
    color: #ffffff; /* Change the icon color to white */
  }
  
  
  .cooking-instructions {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow wrapping */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
  }