/* Cart.css */

body{
  margin: 0px;
  padding: 0px;
  background-color: white;
}

.ReactSwipeButton {
  float: left;
  width: 95% !important;
  height: 50px;
  position: fixed !important;
  bottom: 0 !important;
  left:8px;
  bottom: 10px !important;

}

.cart-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  .containerk {
    display: flex;
    flex-direction: row; /* Setting the direction to row */
    justify-content: space-between; /* Aligning items with space between them */
    align-items: center; /* Aligning items vertically */
    width: 100%;
 /* Adjust this as needed */
    margin: 0 auto;

  }
  .itemkp {
 
    padding-right: 0px;
    margin-right: 0px;
    text-align: right;
   
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .itemk {
   
    padding-left: 0px;
    text-align: left;
   
    box-sizing: border-box; /* Include padding in width calculation */
  }

 .m-b8a05bbd {
    flex: var(--drawer-flex, 0 0 var(--drawer-size));
    height: var(--drawer-height, calc(100% - var(--drawer-offset)* 2));
    margin: var(--drawer-offset);
    max-width: 100vw;
    max-height: 100%;
    overflow-y: auto;
}
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .cart-items {
    list-style: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
  }
  .cart-item.removed {
    text-decoration: line-through;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .item-name {
    font-weight: bold;
  }
  
  .item-price {
    color: #666;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the container takes up the full viewport height */
  }
  .empty-cart-message {
    margin-top: 20px;
    font-size: 24px;
    color: #555; /* Adjust the color as needed */
    margin-left: 10px;
  }
  .bottom-svg-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
  }
  .quantity-actions {
    display: flex;
    align-items: center;
  }
  .counterbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f9fa;
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  
    /* margin-right: 4px; */
}
  
  .counterbox button {
    color: orangered;
    /* background-color: #45a049; /* Green button color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px; /* Adjusted padding */
  }
  
 
  
  .counterbox .quantity {
    font-size: 18px;
    font-weight: bold;
  }
  
  
  .menu-titleC {
    position: relative;
    z-index: 1;
    /* Add other styles for your menu title */
  }
  .moving-svg {
    position: absolute;
    /* fill:#ff9700; */
    fill:#54B4D3;

    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    transform: rotate(180deg); /* Rotate the SVG */
  }
  
  .menu-titleC {
    font-family: cursive; /* Use a cursive font */
    font-size: 28px; /* Increase the font size */
    font-weight: bold; /* Set font weight to bold */
    color: #4CAF50;  /* Set the text color */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add letter spacing for better readability */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
    /* Add border */
    /* Add padding */
    border-radius: 10px; /* Add border radius */
  }        
  .accordion-header.closed {
    background-color: #f0f0f0; /* Light grey background color */
    padding: 0.5px; /* Add padding */
    border-radius: 5px; /* Add border-radius */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box-shadow */
    /* Add any other styles you want for the closed accordion header */
  }
  
  
  .quantity-btn {
    /* background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%); */
    color: white;
    background: none;
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .quantity {
    font-size: 18px;
    margin: 0 5px;
  }
  
  .cart-total {
    margin-top: 20px;
    text-align: right;
  }
  
  .cooking-instructions-btn {
    /* background-color: #ffffcc; */
    border: none;
    color: #666; /* Adjust color as per the situation */
    cursor: pointer;
    
    margin: 0;
    border-top: 1px dashed #999;
  }
  
  .cooking-instructions-btn svg {
    margin-right: 8px;
  }
  /* Optional: Style hover and focus states */
  .cooking-instructions-btn:hover{
    color: black;
  }
  .cooking-instructions{
    max-width: 20px
    /* resize: vertical;
  overflow-wrap: break-word; */
  }
  /* fjbvjb */
  .customise-instructions{
    /* background-color: darkgoldenrod; */
   
    color: goldenrod;
    border: none;
    border-top: 1px dashed grey;
   
  
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width:100%;
    align-items: center;

  }
  
  .place-order-btn {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .place-order-btn:hover {
    background-color: #45a049; /* Darker shade on hover */
  }
  .cancel-order-btn{
   background-color: #ffffff;
    color: red;
  border-color: red;
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 2px;
    transition: background-color 0.3s ease;
  }
  
  .cancel{
    
    padding: 10px 10px;
    font-size: 10px;
    cursor: pointer;
    border-radius: 5px;
  
  
  }
  
  .cancel:hover {
    background-color: #ff000094 !important;
    color: white;
  }
  .timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    margin-right: 20px;
  }
  
  .timeline-dot {
    width: 20px;
    height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .timeline-content {
    font-size: 14px;
  }
  
  .completed .timeline-dot {
    background-color: #4caf50; /* Green color for completed items */
  }
  
  .order-box {
  background-color: #f2f2f2; /* Light gray background */
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  }
  
  .order-heading {
  font-size: 24px;
  font-weight: bold;
  color: #333; /* Dark text color */
  }
  
  
  
  .cart-page {
  position: relative; /* Position relative to contain absolutely positioned SVG */
  }
  
  
  
  
  .circle-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #333; /* Background color for the circle */
  color: #fff; /* Text color */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  }
  
  
  .order-id {
    font-size: 14px;
    font-weight: bold;
    color: #333;
  
    padding: 4px;
    border-radius: 4px;
    border-bottom:1px solid #ccc;
  
  }
  
  .timer-container {
  display: flex; /* Use flexbox */
  align-items: center; 
  justify-content: flex-end;/* Align items vertically */
  }
  
  .cancel-order-btn {
  /* Your cancel order button styles */
  margin-left: 10px; /* Add margin for spacing */
  }
  
  .invoice-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px dashed #f9f9f9;
  }
  
  .header-item {
    flex: 1;
    font-weight: bold;
    font-size: 16px; /* Adjust font size */
  }
  
  .invoice-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .invoice-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
  }
  
  .item-name,
  .item-quantity,
  .item-price {
    flex: 1;
    font-size: 16px; /* Adjust font size */
  }
  
  /* Additional Styles for Print */
  @media print {
    .invoice-list {
      font-size: 12px;
      width: 100%;
      border-collapse: collapse;
    }
  
    .invoice-header,
    .invoice-item,
    .invoice-total {
      page-break-inside: avoid;
    }
  
    .header-item {
      text-align: left;
    }
  
    .item-name {
      text-align: left;
    }
  
    .item-price {
      text-align: right;
    }
  
    .invoice-header,
    .invoice-item {
      background-color: #f8f9fa;
    }
  
    
  }
  .invoice-list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  
    border-radius: 5px;
    padding: 10px;
  }
  
  .invoice-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px dashed #ccc;
    background-color: #f8f9fa; /* Light background for heading box */
  }
  
  .header-item {
    flex: 1;
    font-weight: bold;
  }
  
  .invoice-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .invoice-total {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-weight: bold;
/* Light background for total price box */
    border-top: 1px dashed #ccc;
  }
  
  .total-label {
    flex: 1;
  }
  
  .total-value {
    font-weight: normal;
  }

  /* css for modal */

  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #d9d9d9;
    border-radius: 8px;
    padding: 20px;
    max-width: 400px;
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .modal h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .modal input[type="text"] {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    
  }

  
  .modal button {
    background-image: linear-gradient(to right, #FF512F 0%, #F09819  51%, #FF512F  100%);
    color: white;
    border: none;
    border-radius: 5px;
    /* width: px; */
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .modal button:hover {
    background-color: #0056b3;
  }
  
  .modal button + button {
    margin-left: 10px;
  }
  .containerk {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .itemk {
    max-width: calc(80% - 20px); /* Adjust based on margin and other factors */
    width:60%
  }
  
  .itemkp {
    margin-left: 20px; /* Adjust margin as needed */
  }
  
  .cooking-instructions {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal; /* Allow wrapping */
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
  }