@import url('https://fonts.googleapis.com/css2?family=Gidugu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gidugu&family=Pacifico&display=swap');


.gidugu-regular {
  font-family: "Gidugu", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.gradient {
  /* background: linear-gradient(to bottom, 
  #ffcf9e,
  #ffd4a4,
  #ffd9a9,
  #ffddb0,
  #ffe1b5,
  #ffe5ba,
  #ffeac0,
  #ffeed0,
  #fff2df,
  #fff6ee,
  #fffaf8,
  #ffffff
); */
/* background: radial-gradient(circle at 5.3% 17.2%, rgb(255, 208, 253) 28%, rgb(255, 237, 216) 0%); */
background: radial-gradient(circle at 12.3% 17.2%, rgb(255, 210, 253) 28%, rgb(255, 237, 216) 0%);
    width: 100%;
  width: 100%;
   /* Adjust height as needed */
  position: relative;
}

body{
  margin: 0px;
  padding: 0px;
  background-color: #fdfff5 !important;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}
      
.jiMOeR .wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 95% !important;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 24px;
  /* background-color: rgb(223, 225, 229); */
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-family: Arial;
  z-index: 10;
  margin-left: 6px !important;
  background-color: #fafafa !important;
}

.css-1f8sh1y {
  position: relative;
  width: 100%;
  /* height: 100%; */
margin-bottom: -15px !important;
  height: 180px !important;
}


.outline-btnfilter {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: white;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s,;
  margin-right: 8px;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  border: 1px solid #ccc  !important;
  max-width: 200px;
}

.outline-btnfilter:hover {
  background-color: #fff;
  color: #333;
 
}       
.outline-btnfilter::-webkit-scrollbar {
  display: none;
}
.btn-gradk {
  background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%);
  /* margin: 10px; */
  padding: 3px 0px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  /* border-radius: 10px; */
  display: block;
  position: sticky;
  top: 0;
}


.btn-gradk:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.cart-close {
  display: none;
}
.cart-open {
  animation: jump 0.5s ease-in-out forwards ;
 
}

@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px); /* Peak height */
  }
}       
.btn-gradc {
  /* background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 51%, #00d2ff 100%); */
  background-color: #f98820;
  /* margin: 10px; */
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  /* border-radius: 10px; */
  display: block;
  border-radius: 5px;
  letter-spacing: 1px;
}


.btn-gradc:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.menu-container {
    margin: 20px;
  }
  
  .menu-title {
    font-family: serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff !important;
    text-transform: uppercase;
   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
  .categories {
    display: flex;
    flex-direction: column;
  }
  
  .category {
    margin-bottom: 20px;
    color:#fc8019;
  }
  
  .category-namem{
    font-size: 20px;
    font-weight: 500;

    /* margin-bottom: 5px; */
  }
  
  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 10px;
   
  }
  .khXxzt {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    width: 13px;
    height: 13px;
}
  
  .item-namem {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
  }
  
  .item-pricee {
    font-size: 18px;
    font-weight: 500;
    color: black;
  }
  
  .add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .cart {
    margin-top: 20px;
  }
  
  .cart-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .cart-items {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-items li {
    margin-bottom: 5px;
  }
  .quantity-control {
    display: flex;
    align-items: center;
    margin: 10px;
  }
  
  .quantity {
    font-size: 16px;
    padding: 8px;
    color: #666;
    /* background-color: #f9f9f9; */
    border-radius: 5px;
  }

  /* Menu.css */

.browse-menu-btn {
    position: fixed;
    bottom:16px;
    right: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .browse-menu-btnn {
    position: fixed;
    bottom: 5px;
    left: 2px;
 
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .browse-menu-btn:hover {
    background-color: black; /* Darker shade on hover */
  }
/* Menu.css */



.dropdown-containerk {
    position: relative;
  }
  
  .icon-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Make container circular */
    width: 50px; /* Set container width */
    height: 50px; /* Set container height */
    background-color: #000000; /* Background color for container */
  }
  
  .icon-container span {
    margin-top: 5px; /* Adjust text margin */
  }
  
  .browse-menu-btn {
    position: fixed;
    bottom: 19px;
    right: 6px;
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%; /* Make button circular */
    transition: background-color 0.3s ease;
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.1), /* First box shadow */
    0 8px 16px rgba(0, 0, 0, 0.2), /* Second box shadow */
    0 12px 24px rgba(0, 0, 0, 0.3); /* Third box shadow */

 
  }
  .browse-menu-btn:hover {
    background-color: black; /* Darker shade on hover */
  }
  
  .dropdown-menuk {
    position: fixed;
    bottom: 20px;
    right: 8px;
    max-height: 270px;
    overflow-y: auto;
    z-index: 1;
    /* background-image: linear-gradient(to right, #ffffff, #ffffcc);
     */
     background-color: hsl(240, 79%, 98.5%);
     /* background-color: hsl(153, 77%, 99%); */
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: none;
    animation: slideIn 0.5s ease; /* Entrance animation */
  }
  
  .dropdown-containerk:hover .dropdown-menuk {
    display: block; /* Show the dropdown on hover */
  }
  
  .dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-list li {
    padding: 10px;
    cursor: pointer;
  }
  
  

  /* Add this CSS to your existing stylesheet */

.close-btn {
    position: absolute;
    top: -5px;
    right: 4px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #000000;
    padding: 0;
    margin-bottom: 8px;
  }
  
  .close-btn:hover {
    color: #333;
  }
  .bottom-link {
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  
  .bottom-link a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust height to match carousel height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
    z-index: 1; /* Ensure it's above the carousel */
  }
  .bottom-link a:hover {
    background-color: #45a049;
  }  

  .menu-svg {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .menu-svg path {
    fill: #54B4D3; /* Fill color */
    stroke: none; /* No stroke */
  }
  
  .menu-title {
    position: relative;
    z-index: 1;
    /* Add other styles for your menu title */
  }

           
  .btn-grad {
    background-image: linear-gradient(to right, #F09819 0%, #EDDE5D  51%, #F09819  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  
  
  @keyframes slideIn {
    from {
      transform: translateY(-20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .dropdown-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-list li {
    padding: 15px;
    cursor: pointer;
    color: rgb(0, 0, 0); /* White text color */
    font-size: 18px; /* Increased font size */
    transition: background-color 0.3s ease;
  }
  
  /* .dropdown-list li:hover {
    /* background-color: #333; Darker background on hover */
  /* }  */

  .accordion-icon {
  float: right;
  margin-right: 20px;
  color: #000;
  font-size:larger;
}

.category.closed {
  /* border: 1px solid #ccc; Add border for closed category */
  /* background-image: linear-gradient(
  90deg,
  hsl(39deg 100% 63%) 0%,
  hsl(37deg 99% 69%) 14%,
  hsl(36deg 97% 73%) 25%,
  hsl(34deg 95% 77%) 35%,
  hsl(33deg 92% 80%) 43%,
  hsl(32deg 89% 83%) 50%,
  hsl(31deg 84% 85%) 55%,
  hsl(29deg 79% 87%) 61%,
  hsl(27deg 70% 90%) 65%,
  hsl(23deg 58% 92%) 70%,
  hsl(14deg 40% 93%) 76%,
  hsl(323deg 19% 95%) 83%,
  hsl(240deg 60% 97%) 100%
); */
/* background-color: #f9f9f9; */

  /* Add background color for closed category */
  border-radius: 5px; 
}

.category-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-top: 10px;
}

         
.category-heading {
  font-size: 22px;
  font-weight: 700;
  color: #000000;
  padding: 5px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: gidugu-regular;
}


/* Remove border-top from the first category */
.category:first-child {
  border-top: none;
}
.category-info {
  margin-bottom: -5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.category-count {
  margin-left: 10px; /* Adjust spacing between count and category name */
}

.dropdown-list li.selected {
  /* background-color: rgb(0, 0, 0); */
  /* color :black; */
  color:goldenrod;
}