.header-cell {
    width: 200px;
    text-align: center;
    background-color: #f0f0f0;
    color: #333;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    font-weight: bold;
    margin: 'auto';
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    
  }