.scan-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #f8f9fa; /* Light gray background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.heading {
  font-size: 24px;
  color: #333; /* Dark gray text color */
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.input-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px;
  font-size: 16px;
}

.input-container input.error {
  border-color: #ff0000; /* Red border color for invalid input */
}

.error-text {
  color: #ff0000; /* Red error text color */
  margin-top: 5px;
}

.close-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.generate-btn {
  background-color: #007bff; /* Blue generate button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
}

.qrcode-container {
  margin-bottom: 20px;
}

.instructions {
  color: #333; /* Dark gray text color */
  margin-bottom: 10px;
}

.download-btn {
  background-color: #28a745; /* Green download button color */
  color: #fff; /* White text color */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the input horizontally */
  margin-bottom: 20px;
}

.scan-container {
  max-width: 500px;
  margin: auto;
  margin-top: 100px;
  padding: 20px;
  background-color: #ffebb1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generate-btn.disabled {
  background-color: #ccc; /* Grey background color */
  color: #999; /* Light grey text color */
  cursor: not-allowed; /* Change cursor to indicate disabled state */
}












