.sidebar {
  background-color: #f0f0f0;
  padding: 20px;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column; /* Arrange children vertically */
}

.sidebar-heading {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin-bottom: 10px;
}

.sidebar-menu li a {
  color: #666;
  text-decoration: none;
}

.sidebar-menu li a:hover {
  color: #000;
}

.account-info {
  margin-top: auto; /* Push the account info to the bottom */
}

.account-heading {
  color: #333;
  font-size: 20px;
  margin-bottom: 15px;
}

.account-menu {
  list-style: none;
  padding: 0;
}

.account-menu li {
  margin-bottom: 10px;
}

.account-menu li a {
  color: #666;
  text-decoration: none;
}

.account-menu li a:hover {
  color: #000;
}

/* Sidebar.css */

.notification-bell {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.notification-bell .bell-icon {
  font-size: 24px;
  color: #555; /* Default color for the bell icon */
}

.notification-bell .notification-count {
  position: absolute;
  top: -8px; /* Adjust the position to move it upwards */
  right: -8px; /* Adjust the position to move it to the right */
  background-color: #f44336; /* Red background color */
  color: #fff; /* White text color */
  border-radius: 50%;
  padding: 3px 6px; /* Smaller padding */
  font-size: 10px; /* Smaller font size */
}

.connect-bell {
  background-color: red;
  color: white;
  padding: 4px 8px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  margin-left: 10px;
  position: relative;
}


