.splash-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('./dinner.png'); /* Replace './dinner.png' with the path to your background image */
    background-size: cover;
    background-position: center;
    /* Adjust the opacity of the background */
    background-color: rgba(255, 255, 255, 0.2); /* Change the last value (0.5) to adjust opacity (range: 0 to 1) */
  }
  .white-circle {
    position: relative;
    width: 300px; /* Adjust the width and height for the size of the circle */
    height: 300px;
    background-color: white; /* Set the background color to white */
    border-radius: 50%; /* Create a circular shape */
    box-shadow: 0 0 10px 5px rgba(255, 136, 0, 0.5); 
    animation: bounce 0.8s infinite alternate;
  }
  .logo {
    position: absolute; /* Position the logo absolutely within the circle */
    top: 50%; /* Align the top of the logo to the vertical center of the circle */
    left: 50%; /* Align the left side of the logo to the horizontal center of the circle */
    transform: translate(-50%, -50%); /* Center the logo within the circle */
    max-width: 60%; /* Adjust the size of the logo image */
    max-height: 60%;
  }
  .type-animation {
    position: absolute;
    bottom: 25px;
    left: 53%;
    transform: translateX(-50%);
  }
 
  
  
  .loader-container {
    margin-top: 20px;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-10px); /* Adjust the bounce height as needed */
    }
  }