.tables-container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-left {
  margin-right: auto; /* Pushes the header-left to the left corner */
}

.header-right {
  margin-left: auto; /* Pushes the header-right to the right corner */
  text-align: right; /* Aligns text to the right */
}

.tables-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.table {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: transform 0.2s;
}

.table:hover {
  transform: scale(1.05);
}

.table.vacant {
  background-color: #c8e6c9;
}

.table.occupied {
  background-color: #ffccbc;
}
